body
{
background-color: beige;
position: relative;
height: auto;
width: 100px;


}
.box{
    height: 500px;
    width: 400px;
    position: absolute;
    margin-top: 150px;
    margin-left: 600px;
    background-color: white;

}
.google{
    height: 40px;
    border: 1px solid;
    border-radius: 25px;
    width: 300px;
    text-align: center;
    margin-left: 50px;
}
h3{
    text-align: center;
}
.text{
    height: 40px;
    border: 1px solid;
    border-radius: 25px;
    width: 300px;
    text-align: center;
    margin-left: 50px;
    background-color: black;
    color:white;

}
p{
    text-align: center;
}